[mysqld]
skip-host-cache
skip-name-resolve

server-id = 1
log_bin = /var/log/mysql/mysql-bin.log
binlog_format = ROW
binlog_do_db = laravel
interactive_timeout = 3600
wait_timeout = 3600
max_allowed_packet = 32M